[submodule "EasierVRAssets"]
	path = Assets/EasierVRAssets
	url = https://github.com/kimryan0416/EasierVRAssets.git

[submodule "UnityUtils"] 
  path = Assets/UnityUtils 
  url = https://github.com/SimpleDevs-AR-VR/UnityUtils.git
