[submodule "EasierVRAssets"]
	path = Assets/EasierVRAssets
	url = git@github.com:kimryan0416/EasierVRAssets.git

[submodule "UnityUtils"] 
  path = Assets/UnityUtils 
  url = git@github.com:SimpleDevs-AR-VR/UnityUtils.git